@model IEnumerable<TravelBlogTwo.Models.Location>

@{
    ViewData["Title"]= "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>

<table class="table">
    <tr>
        <th>
			@Html.DisplayNameFor(model => model.LocationCity)
		</th>
		<th>
            @Html.DisplayNameFor(model => model.LocationCountry)
        </th>
	</tr>

	@foreach(var listLocation in Model)
	{
        <tr>
		    <td>
			    @Html.DisplayFor(model => listLocation.LocationCity)
		    </td>
		    <td>
                @Html.DisplayFor(model => listLocation.LocationCountry)
            </td>
	    </tr>
	}
</table>